@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
  <p>Speakr: Your site to keep track of your Speaking Submissions</p>
  <a href="Submissions">My Submissions</a>
</div>
<div">
  <span>An example of using .NET on Linux, EntityFramework, and Create, Read, Update and Delete operations.</span>
</div>
