@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This sample application uses .NET Core 1.0, ASPNET Core 1.0, MVC Core 1.0 and Entity Framework Core 1.0.</p>
